<div class="loading" [ngClass]="{'d-none' : !appvars.isLoaderVisible}">Loading&#8230;</div>
<header>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand d-flex align-items-center" routerLink="/"><i class="fa d-inline fa-camera mr-2"></i><strong>Dubai</strong></a>
      <a *ngIf="!utils.isUserLoggedIn()" class="nav-link" routerLink="/login"><i class="fas fa-user mr-1"></i>Sign in</a>
      <div *ngIf="utils.isUserLoggedIn()">
        <a class="nav-link d-inline" href="#" (click)="navigateToProfilePage()"><i class="fas fa-user mr-1"></i>{{ appvars.username }}</a>
        <a class="nav-link d-inline" href="#" (click)="logUserOut()"><i class="fas fa-sign-out-alt mr-1"></i>Sign out</a>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid">
    <div class="row mb-2">
      <h1 class="w-100 text-center font-weight-bold text-white position-absolute" style="font-size:50px;top:290px;">Dubai landmarks</h1>
      <img src="assets/params/images/Dubai.jpg" alt="Dubai image" class="img-fluid w-100" style="height: 300px;">
    </div>
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="py-4">
  <div class="container">
    <p class="float-right">
      <a href="#" (click)="scrollBackToTop()">Back to top</a>
    </p>
    <p class="text-center">&copy; 2021 - https://www.visitdubai.com</p>
  </div>
</footer>